.logo {
    height: 30px; 
    width: auto;  /* Šířka se automaticky přizpůsobí zachování poměru stran */
    margin-right: 15px; /* Pravý okraj pro oddělení loga od textu */
    margin-left: 15px;
}

.navbar-nav {
    margin-right: 20px; /* Odsazení pravého okraje pro menu */
}

.navbar-toggler {
    margin-right: 20px; /* Nastaví odsazení pravého okraje pro hamburger menu */
}