.logo {
    height: 30px; 
    width: auto;  /* Šířka se automaticky přizpůsobí zachování poměru stran */
    margin-right: 15px; /* Pravý okraj pro oddělení loga od textu */
    margin-left: 15px;
}

.navbar-nav {
    margin-right: 20px; /* Odsazení pravého okraje pro menu */
    

}

.navbar-toggler {
    margin-right: 20px; /* Nastaví odsazení pravého okraje pro hamburger menu */
}

.nav-item {
    padding-right: 15px; /* nebo jakékoli jiné odsazení, které preferujete */
    text-align: right;
}

.preview-container {
    border: 2px solid #ddd; /* Nastaví okraj */
    padding: 20px; /* Vnitřní okraje pro text */
    background-color: #f8f9fa; /* Světlé pozadí */
    min-height: 150px; /* Minimální výška */
    display: flex; /* Použití Flexboxu */
    justify-content: center; /* Centrování obsahu flex kontejneru */
    align-items: center; /* Zarovnání položek ve flex kontejneru */
}

/* Quote Previews Section styling */


.library-preview {
    max-height: 300px; /* Přizpůsobte výšku vašim potřebám */
    width: max-width; 
    overflow: hidden; /* Prořezává přebytečný obsah */
}

.small-preview {
    max-height: 200px; /* Přizpůsobte vašim potřebám */
    width: max-width; 
    overflow: hidden; /* Ukrojí přebytečný obsah */
    padding: 15px;
}

.small-previews-scrollable {
    max-height: 400px; /* Nastavte maximální výšku podle potřeb */
    overflow-y: auto; /* Zobrazí svislý posuvník, pokud je obsah delší než maximální výška */
    overflow-x: hidden;
}
