.logo {
    height: 30px; 
    width: auto;  /* Šířka se automaticky přizpůsobí zachování poměru stran */
    margin-right: 15px; /* Pravý okraj pro oddělení loga od textu */
    margin-left: 15px;
}

.navbar-nav {
    margin-right: 20px; /* Odsazení pravého okraje pro menu */
}

.navbar-toggler {
    margin-right: 20px; /* Nastaví odsazení pravého okraje pro hamburger menu */
}

.live-preview {
    margin-top: 20px;    
    border: 2px solid #ddd; /* Nastaví okraj */
    padding: 20px; /* Vnitřní okraje pro text */
    background-color: #f8f9fa; /* Světlé pozadí */
    min-height: 150px; /* Minimální výška */
    display: flex; /* Použití Flexboxu */
    justify-content: center; /* Centrování obsahu flex kontejneru */
    align-items: center; /* Zarovnání položek ve flex kontejneru */
}